.HolyGrail-header,
.HolyGrail-footer {
  flex: none; /* 2 */
}

.HolyGrail-body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding: 2em;
}

.HolyGrail-content {
  margin-top: 2em;
  text-align: center;
}

.HolyGrail-nav {
  order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  padding: 1em;
  color: #0d4c73;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    flex: 1;
    padding: 0 4em;
    margin: 0;
  }
  .HolyGrail-nav,
  .HolyGrail-ads {
    flex: 0 0 12em;
  }
}

h2 {
  font-size: 8em;
  color: #f2b680;
  margin-bottom: 0;
  line-height: 0.5em;
}

h3 {
  font-size: 2em;
  color: #d98c5f;
  margin-bottom: 3em;
}

header {
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 1em;
}

footer {
  font-size: 0.5em;
  color: #35748c;
  text-align: center;
}

.btn-start {
  background: #f2b680;
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  padding: 1em 2em;
  font-size: 2em;
}

.btn-stop {
  background: #35748c;
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  padding: 0.5em 1em;
  font-size: 1em;
}
