.custom-hint .react-hint__content {
  background-color: #35748c;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-hint:after {
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-top-color: rgba(255, 255, 255, 0.3);
}
